# Python
__pycache__/
*.pyc

# Django
db.sqlite3
media/
uploads/

# Static uploads (IMPORTANT)
static/uploads/

# Environment
.env
venv/
env/

# OS
.DS_Store
Thumbs.db

food_calorie_project/settings.py

# Large model files
models/*.h5